
<div>
    <div class="card">
        <div class="card-header" style="background-color: cadetblue">
            <h5 class="card-title">{{header}} <button *ngIf="add" (click)="addClick()">+</button></h5>
        </div>
      
      </div>
      <div  mwlDraggable (dragEnd)="dragEnd(task)" class="card" style="margin-top: 0.5rem" *ngFor="let task of data">
        <div class="card-body">
          <h5 class="card-title">{{task.title}} <button>edit</button></h5>
          <p class="card-text">{{task.description}}</p>
        </div>
      </div>
     

</div>

