
<div class="container">
<form action="">

    <div class="mb-3">
        <label for="title" class="form-label"></label>
        <input type="text" class="form-control" name="title" id="title" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">task Minutes</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="name@example.com">

      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">task Minutes</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="name@example.com">

      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">todo list</label>

      </div>

      <!-- {
        "title": "string",
        "description": "string",
        "status": 0,
        "createdAt": "2022-07-29T04:28:45.116Z",
        "taskTimeInMinutes": 0,
        "targetCompletionDate": "2022-07-29T04:28:45.116Z",
        "todoList": [
          {
            "id": "string",
            "todoString": "string",
            "isCompleted": true
          }
        ]
      } -->
</form>

</div>
